h1 {
  text-align: center;
  color: red;
}

.danger {
    border-color: #4CAF50;
    color: orange;
}

.danger:hover {
      background-color: #4CAF50;
      color: white;
}

#foots {
  font-size: 12px;
  text-align: center;
  vertical-align: bottom;
}

body {
  background-image:url(https://media.giphy.com/media/dkGhBWE3SyzXW/giphy.gif);
  background-size: cover;

}

#heads {
  color: blue;
  font-weight: bold;
}

.button {
    position: relative;
    background-color: violet;
    border: none;
    font-size: 10px;
    color: gold;
    padding: 10px;
    width: 50px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#outputR {
  color: yellow;
  font-style: italic;
}
