h1 {
  text-align: center;
  color: red;
}

.danger {
    border-color: #4CAF50;
    color: orange;
}

.danger:hover {
      background-color: #4CAF50;
      color: white;
}

#foots {
  font-size: 12px;
  text-align: center;
  vertical-align: bottom;
  color: lime;
  font-family: fantasy;
  font-weight: bolder;
}

body {
  background-image:url(https://media.giphy.com/media/dkGhBWE3SyzXW/giphy.gif);
  background-size: cover;

}

#heads {
  color: blue;
  font-weight: bold;
}

.button {
    position: relative;
    background-color: violet;
    border: none;
    font-size: 10px;
    color: gold;
    padding: 10px;
    width: 50px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    -webkit-animation-duration: 3s;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

#outputR {
  color: yellow;
  font-style: italic;
}
